# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

src/loo1/orientadaObjetos1/parser/OO1Parser.java
src/loo1/orientadaObjetos1/parser/OO1ParserConstants.java
src/loo1/orientadaObjetos1/parser/OO1ParserTokenManager.java
